<div class="container">
  <div class="row">
      <div class="col-lg-6">
        <img src="osaka.jpg" class="oosaka " alt="">
        <span class="nannkou mx-auto d-block"><%= link_to '南港', '/districts/1' %></span>
        <span class="ootu"><%= link_to '泉大津', '/districts/5' %></span>
        <span class="kaiduka"><%= link_to '貝塚', '/districts/2' %></span>
        <span class="misaki"><%= link_to '岬町', '/districts/3' %></span>
        <span class="izumi"><%= link_to '泉佐野', '/districts/4' %></span>
      </div>
    
        <div class="turi mx-auto d-block">
          
          <%= form_with url: spot_search_path, id: "form1",  method: :get, local: true do |f| %>
            <%= f.text_field :name, class: 'form-control', placeholder: "釣り場を入力しよう!" %>
            <%= f.submit :検索, class: "btn btn-primary", id: "sbtn" %>
          <% end %>
          
          <div class="itirann">
            <h1>釣り場一覧</h1>
            <p><検索結果></p>
            <ul>
              <% @spots.each do |s| %>
                <li><a href="/spots/<%= s.id %>"><%= s.name %></a></li>
              <% end %>
            </ul>
          </div>
          
        </div>
      
        <div class = "right mx-auto d-block">
          <h2>釣り場コメント一覧</h2>
            <div class="center jumbotron">
              <% @comments.each do |c| %>
                <div>
                  釣り場&nbsp;:&nbsp;<a href="/spots/<%= c.spot.id %>"><%= c.spot.name %></a>
                </div>
                <div>
                  ユーザー名&nbsp;:&nbsp;<a href="/users/<%= c.user.id %>"><%= c.user.name %></a>
                </div>
                <%= safe_join("#{c.content}".split("\n"),tag(:br)) %>
                <div class="cimg">
                  <%= link_to c.image.url, "data-lightbox" => c.image.url do %>
                    <%= image_tag c.image.url if c.image? %>
                  <% end %>
                </div> 
                <hr>
              <% end %>
              <%= paginate @comments %>
            </div>
        </div>
        
  </div>
</div>

<style>
  div h1 {
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 50px;
    text-shadow: 2px 1px 2px #808080; 
  }
  
  div p {
    margin-left: 20px;
    font-size: 20px;
  }

  .nanko {
    margin-top: 100px;
  }

  .turi {
    position: relative;
    right: 30px;
    top: 10px;
    margin-bottom: 40px;
  }

  .district {
    list-style: none;
  }
  
  .spot {
    float: left;
  }
  
  .oosaka {
    position: relative;
    top: 20px;
    right: 23px;
    width: 470px;
    height: auto;
    border: 3px solid #FFCC33;
  }

  .osaka {
    font-size: 80px;
    text-shadow: 3px 3px 3px #808080; 
  }
  
  .turiba {
    font-size: 80px;
    text-shadow: 3px 3px 3px #808080; 
  }
  
  .right {
    position: relative;
    top: 10px;
    max-width: 500px;
  }
  
  .itirann {
    position: relative;
    bottom: 40px;
  }

  .scroll {
    overflow-y: scroll;
    max-height: 600px;
  }

  .scroll::-webkit-scrollbar {
    width: 10px;
  }
  
  .scroll::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 3px;
  }
  
  .scroll::-webkit-scrollbar-track {
    background: rgba(100,100,100, .5);
  }
  
  .nannkou {
    position: relative;
    bottom: 395px;
    left: 290px;
    font-weight: bold; 
    font-size: 30px
  }
  
  .ootu {
    position: relative;
    bottom: 311px;
    left: 270px;
    font-weight: bold; 
    font-size: 30px
  }
  
  .kaiduka {
    position: relative;
    bottom: 252px;
    left: 135px;
    font-weight: bold;
    font-size: 30px
  }
  
  .izumi {
    position: relative;
    bottom: 204px;
    right: 44px;
    font-weight: bold;
    font-size: 30px
  }
  
  .misaki {
    position: relative;
    bottom: 100px;
    right: 109px;
    font-weight: bold;
    font-size: 30px
  }
  
  #form1 {
    position: relative;
    width: 230px;
  }
  
  #sbox {
    position: relative;
    height: 40px;
    border: none;
    padding: 0 5px;
    border-radius: 2px 0 0 2px;
    background: #eee;
  }
  
  #sbtn {
    position: relative;
    padding: 2px;
    bottom: 38.5px;
    left: 240px;
    width: 55px;
    height: 40px;
  }
  
  .cimg {
    margin-top: 20px;
    text-align : center;
  }
  
  img {
    width: 220px;
  }
</style>