<div class="row">
  <div class="mx-auto d-block col-md-10 col-lg-5">
    <div id='search_map'></div>
  </div>
  
  <div class="col-md-10 col-lg-6">
    <div class="ichirann">
      <h1 class="turibaiti">釣り場一覧</h1>
      <p class="kensaku"><検索結果></p>
      <% if @spots.none? %>
      <p class="none">該当なし</p>
      <% else %>
        <ul>
          <% @spots.each do |s| %>
            <li class="s_name"><a href="/spots/<%= s.id %>"><%= s.name %></a></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>

<div class="tenki">
  <div id="city-name"></div>
  <div id="weather"></div>
</div>

<div class = "under mx-auto d-block">
  <h2 class="turicome">釣り場コメント一覧</h2>
    <div class="center jumbotron">
      <% @comments.each do |c| %>
        <div>
          釣り場&nbsp;:&nbsp;<a href="/spots/<%= c.spot.id %>"><%= c.spot.name %></a>
        </div>
        <div>
          ユーザー名&nbsp;:&nbsp;<a href="/users/<%= c.user.id %>"><%= c.user.name %></a>
        </div>
        <%= safe_join("#{c.content}".split("\n"),tag(:br)) %>
        <div class="cimg">
          <%= link_to c.image.url, "data-lightbox" => c.image.url do %>
            <%= image_tag c.image.url, alt: "", class: "comment_img" if c.image? %>
          <% end %>
        </div> 
        <hr>
      <% end %>
      <%= paginate @comments %>
    </div>
</div>


<script>
  function initMap() {

      var test ={lat: 34.4952, lng: 135.3050};
    
      var map = new google.maps.Map(document.getElementById('search_map'), {
          zoom: 10,
          center: test
      });
      var transitLayer = new google.maps.TransitLayer();
      transitLayer.setMap(map);

      <% @districts.each do |d| %>
(function(){
        var contentString = '<%= link_to d.name, district_path(d) %>'; 
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position:{lat: <%= d.latitude %>, lng: <%= d.longitude %>},
            map: map,
            title: contentString,
        });
      marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
})();
      <% end %>
  }
  
$(function() {
  var apikey = gon.api_key;
  var city = 'Osaka';
  var url = '//api.openweathermap.org/data/2.5/forecast?q=' + city + ',jp&units=metric&APPID=' + apikey;
  $.ajax({
    url: url,
    dataType: "json",
    type: 'GET',
  })
  .done(function(data) {
    var insertHTML = "";
    var cityName = '<h2>' + "大阪の天気" + '</h2>';
    $('#city-name').html(cityName);
    for (var i = 0; i <= 8; i = i + 2) {
      insertHTML += buildHTML(data, i);
    }
    $('#weather').html(insertHTML);
  })
  .fail(function(data) {
    console.log("失敗しました");
  });
});

function buildHTML(data, i) {
  var Week = new Array("（日）","（月）","（火）","（水）","（木）","（金）","（土）");
  var date = new Date (data.list[i].dt_txt);
  date.setHours(date.getHours() + 9);
  var month = date.getMonth()+1;
  var day = month + "月" + date.getDate() + "日" + Week[date.getDay()];
  var time = date.getHours() + "：00";
  var icon = data.list[i].weather[0].icon;
  var html =
  '<div class="weather-report">' +
    '<div class="weather-date">' + day + '</div>' +
    '<div class="weather-time">' + time + '</div>' +
    '<img class="weather-icon" src="http://openweathermap.org/img/w/' + icon + '.png">' +
    '<div class="weather-temp">' + Math.round(data.list[i].main.temp) + '℃</div>' +
  '</div>';
  return html
}
</script>

<script async defer
              src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>