<div class="text-center">
  <h1>ログイン</h1>
</div>

<div class="row">
  <div class="log col-md-10 col-lg-6">
    <div class="log">
      <div class="center jumbotron">
    
        <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
      
        <div class="form-group">
          <%= f.label :email, 'メールアドレス' %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>
    
        <div class="form-group">
          <%= f.label :password, 'パスワード' %>
          <%= f.password_field :password, class: 'form-control', id: "js-password" %>
        </div>
        
        <p>
          <label for="js-passcheck">パスワードを表示する</label>
          <input type="checkbox" id="js-passcheck"/>
        </p>
    
       
          <p><%= link_to 'パスワードを忘れましたか？', signup_path %></p>
      
        
        <div>
          <%= f.submit 'ログイン', class: 'btn btn-primary' %>
        </div>
       
        <% end %>
        
  </div>
</div>
  
<style>
  body {
   background: linear-gradient(to right, rgba(156, 250, 197, 0.4), rgba(0, 255, 192, 0.4));
  }

  .log {
    margin: 0 auto;
  }

  p {
    position: relative;
    bottom: 9px;
  }
</style>

<script>
  $(function() {
      var password  = '#js-password';
      var passcheck = '#js-passcheck';
  	
      changeInputtype(password, passcheck);
  });
  
  
  function changeInputtype(password, passcheck) {
      $(passcheck).change(function() {       
          if ($(this).prop('checked')) {
              $(password).attr('type','text');
          } else {
              $(password).attr('type','password');
          }
      });
  }
</script>