<div class="container">
  <span class="user_title"><i class="fa fa-user" aria-hidden="true"></i>マイプロフィール</span>
  <div class="row user_body">
    <div class="mx-auto d-block col-md-4">
      <div class="name_icon">
        <div class="profile_img">
          <!--ユーザーアイコンを変更するまで初期画像-->
          <% if @user.image? %>
            <%= image_tag @user.image.url, class:"icon", alt: "" %>
          <% else %>
            <%= image_tag 'default.jpg', class:"icon",alt: "" %>
          <% end %>
        </div>
        
        <div class="profile_name">
          <div class="user_name"><%= @user.name %></div>
        </div>
      </div>
      
      <div class="user_edit">
        <button class="edit_btn">

        <!--フォローボタンの位置を編集ボタンと同じ位置にしたいためここに配置-->
        <%= render 'relationships/follow_button', user: @user %>

          <!--ユーザー詳細ページと現在のユーザーの名前が同じなら編集ボタン表示（ゲストユーザーなら表示しない）-->
          <% if @user == current_user %>
            <% unless @user.email == "guest@example.com" %>
              <div><%= link_to("プロフィール編集", edit_user_registration_path(@user), class: "btn btn-radius-solid") %></div>
            <% end %>
          <% end %>
          </button>
      </div>
    </div>

    <div class="mx-auto d-block col-md-8" style="margin-top: 20px;">
      <div>
        <ul class="nav nav-tabs nav-justified mb-3">
          <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">フォロー <span class="badge badge-secondary"><%= @count_followings %></span></a></li>
          <li class="nav-item"><a href="<%= followers_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followers_user_path(@user)) %>">フォロワー  <span class="badge badge-secondary"><%= @count_followers %></span></a></li>
        </ul>
        <%= render 'followers', users: @followers %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="mx-auto d-block col-sm-11 col-lg-6">
      <div class="left">
        
        <h2 class="u_come">釣り場コメント一覧</h2>
        
        <div class="box">
          <% @comments.each do |c| %>
          
            <div>
              釣り場&nbsp;:&nbsp;<a href="/spots/<%= c.spot.id %>"><%= c.spot.name %></a>
            </div>

            <div>
              <%= l c.created_at, format: :short %>
            </div>
            
            <!--改行-->
            <div class="user_content">
              <%= safe_join("#{c.content}".split("\n"),tag(:br)) %>
            </div>
            
            <!--画像-->
            <div class="img_position">
              <%= link_to c.image.url, "data-lightbox" => c.image.url do %>
                <%= image_tag c.image.url, alt: "", class: "comment_img" if c.image? %>
              <% end %>
            </div>

            <button class="botton">
              <!--ユーザー詳細ページと現在のユーザーの名前が同じならコメント削除ボタン表示-->
              <% if current_user == c.user %>
                &nbsp;<%= link_to "削除", user_comment_path(@user,c,page_id: 1), method: :delete, data: { confirm: "本当に削除しますか?" }, class: 'btn btn-danger btn-sm' %>
              <% end %>
            </button>
            <hr>
          <% end %>
          <%= paginate @comments %>
        </div>
      </div>
    </div>
    
    <!--お気に入りした釣り場一覧-->
    <div class="mx-auto d-block col-sm-11 col-lg-6">
        <%= render 'favorites/likes', likes: @likes %>
    </div>
    
  </div>
</div>