<div class="container">
  <div class="text-center">
    <p class="in">新規登録</p>
  </div>
  
  <div class="row">
    <div class="sinki col-md-10 col-lg-6">
      <div class="sinki">
    
        <%= form_with(model: @user, local: true) do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
        
          <div class="center jumbotron">
            
            <div class="form-group">
              <%= f.label :name, '名前' %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
      
            <div class="form-group">
              <%= f.label :email, 'メールアドレス' %>
              <%= f.email_field :email, class: 'form-control' %>
            </div>
      
            <div class="form-group">
               <label for="js-passcheck">パスワード</label>
              <%= f.password_field :password, class: 'form-control', id: "js-password" %>
            </div>
            
            <p class="check">
              <label for="js-passcheck">パスワードを表示する</label>
              <input type="checkbox" id="js-passcheck"/>
            </p>
            
            <div>
            <%= f.submit '新規登録', class: 'btn btn-primary' %>
            </div>
           
          </div>
        
        <% end %>
      
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'user.js' %>