<div class="container">
  <div class="name_icon">
    <div class="profile_img">
      <!--ユーザーアイコンを変更するまで初期画像-->
      <% if @user.image? %>
        <%= image_tag @user.image.url, class:"icon", alt: "" %>
      <% else %>
        <%= image_tag 'default.jpg', class:"icon",alt: "" %>
      <% end %>
    </div>
    
    <div class="profile_info">
      <div class="user_name"><%= @user.name %></div>
      <div class="user_email"><%= @user.email %></div>
    </div>
  </div>
  
  <div class="user_edit">
    <!--ユーザー詳細ページと現在のユーザーの名前が同じなら編集ボタン表示（ゲストユーザーなら表示しない）-->
    <% if @user == current_user %>
      <div><%= link_to("プロフィール編集", edit_user_registration_path(@user), class: "btn btn-radius-solid") %></div>
    <% end %>
  </div>
  
  <div class="row">
    <div class="mx-auto d-block col-sm-11 col-lg-6">
      <div class="left">
        
        <h2 class="u_come">釣り場コメント一覧</h2>
        
        <div class="box">
          <% @comments.each do |c| %>
          
            <div>
              釣り場&nbsp;:&nbsp;<a href="/spots/<%= c.spot.id %>"><%= c.spot.name %></a>
            </div>
            
            <!--改行-->
            <div class="user_content">
              <%= safe_join("#{c.content}".split("\n"),tag(:br)) %>
            </div>
            
            <!--画像-->
            <div class="img_position">
              <%= link_to c.image.url, "data-lightbox" => c.image.url do %>
                <%= image_tag c.image.url, alt: "", class: "comment_img" if c.image? %>
              <% end %>
            </div>
            <div class="botton">
              <!--ユーザー詳細ページと現在のユーザーの名前が同じならコメント削除ボタン表示-->
              <% if current_user == c.user %>
                &nbsp;<%= link_to "削除", user_comment_path(@user,c,page_id: 1), method: :delete, data: { confirm: "本当に削除しますか?" }, class: 'btn btn-danger btn-sm' %>
              <% end %>
            </div>
            <hr>
          <% end %>
          <%= paginate @comments %>
        </div>
      </div>
    </div>
    
    <!--お気に入りした釣り場一覧-->
    <div class="mx-auto d-block col-sm-11 col-lg-6">
        <%= render 'favorites/likes', likes: @likes %>
    </div>
    
  </div>
</div>
