<div class="container">
  <div class="record_image">
    <h1><%= @record.start_time.month%>月<%= @record.start_time.day%>日</h1>

    <table class="form-table">
      <tbody>
        <tr>
          <th>釣り場</th>
          <td><%= @record.spot %></td>
        </tr>
        <tr>
          <th>釣り方</th>
          <td><%= @record.fishingtype %></td>
        </tr>
        <% if @record.bait.present? %>
          <tr>
            <th>エサ</th>
            <td>
                <%= @record.bait %>
            </td>
          </tr>
        <% end %>
        <% if @record.weather.present? %>
          <tr>
            <th>天気</th>
            <td>
                <%= @record.weather %>
            </td>
          </tr>
        <% end %>
        <% if @record.fishing_start_time.present? || @record.fishing_end_time.present? %>
          <tr>
            <th>時間</th>
            <td>
              <% if @record.fishing_start_time.present? %>
                <%= @record.fishing_start_time.strftime("%H:%M") %>
              <% end %>
                〜
              <% if @record.fishing_end_time.present? %>
                <%= @record.fishing_end_time.strftime("%H:%M") %>
              <% end %>
            </td>
          </tr>
        <% end %>
        <% if @record.detail.present? %>
          <tr>
            <th>詳細</th>
            <td>
                <%= @record.detail %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  
    <% if @user == @record.user %>
      <%= link_to '編集する', edit_user_record_path(user_id: @user, id: @record), class: 'btn-border-edit' %>
      <%= link_to '削除する', user_record_path(user_id: @user, id: @record), method: :delete, data: { confirm: '削除しますか？' }, class: 'btn-border-delete' %>
    <% end %>
  </div>
  <%= link_to '戻る', user_records_path(current_user), class: 'return-show' %>
</div>