<% if logged_in? %>

  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <img src="osaka.jpg" class="oosaka " alt="">
        <span class="nannkou"><%= link_to '南港', '/districts/1' %></span>
        <span class="ootu"><%= link_to '泉大津', '/districts/5' %></span>
        <span class="kaiduka"><%= link_to '貝塚', '/districts/2' %></span>
        <span class="misaki"><%= link_to '岬町', '/districts/3' %></span>
        <span class="izumi"><%= link_to '泉佐野', '/districts/4' %></span>
      </div>
      <div class="col-xl-6">
        <div class="turi">
          
          <%= form_with url: spot_search_path, id: "form1",  method: :get, local: true do |f| %>
            <%= f.text_field :name, class: 'form-control', placeholder: "釣り場を入力しよう!" %>
            <%= f.submit :検索, class: "btn btn-primary", id: "sbtn" %>
          <% end %>
         
          <div class="itirann">
            <h1 class="turiiti">釣り場一覧</h1>
            <h3>南港</h3>
              ・<%= link_to 'かもめ大橋', '/spots/1' %>&emsp;・<%= link_to 'シーサイドコスモ', '/spots/2' %>
            <h3>泉大津</h3>
              ・<%= link_to '助松埠頭', '/spots/9' %>&emsp;・<%= link_to '汐見埠頭砂上げ場', '/spots/10' %>
            <h3>貝塚</h3>
              ・<%= link_to '貝塚人工島', '/spots/3' %>&emsp;・<%= link_to '貝塚人工島水路', '/spots/4' %>
            <h3>泉佐野</h3>
              ・<%= link_to '食品コンビナート', '/spots/6' %>&emsp;・<%= link_to 'りんくう', '/spots/8' %>
            <h3>岬町</h3>
              ・<%= link_to 'とっとパーク小島', '/spots/5' %>&emsp;・<%= link_to '深日港', '/spots/7' %>
          </div>
        </div>       
      </div>
      <div class="col-xl-6">
        <div class = "right">
          <h2>釣り場コメント一覧</h2>
            <div class="center jumbotron">
              <% @comments.each do |c| %>
                <div>
                  釣り場&nbsp;:&nbsp;<a href="/spots/<%= c.spot.id %>"><%= c.spot.name %></a>
                </div>
                <div>
                  ユーザー名&nbsp;:&nbsp;<a href="/users/<%= c.user.id %>"><%= c.user.name %></a>
                </div>
                <%= safe_join("#{c.content}".split("\n"),tag(:br)) %>
                <div class="cimg">
                  <%= link_to c.image.url, "data-lightbox" => c.image.url do %>
                    <%= image_tag c.image.url if c.image? %>
                  <% end %>
                </div> 
                <hr>
              <% end %>
              <%= paginate @comments %>
            </div>
        </div>
      </div>
    </div>
  </div>

<% else %>

  <div class="text-center">
    <span class="display-2 text-primary text-shadow">
      <span class="osaka">
        大阪の
      </span>
        <img class="mr-2 rounded" src="IMG_1889.JPG" alt="カワハギ" id="sakana">
      <span class="turiba">
        釣り場
      </span>
    </span>
  </div>
  
  <div class="text-center">
    <div class="btn">
      <%= link_to '新規登録', signup_path, class: 'btn btn-lg btn-primary', id: 'botn' %>
    </div>
      <h1>気に入った釣り場をお気に入り登録したり、釣果などをコメントしよう！</h1>
  </div>
  
<% end %>

<style>
  h3 {
    margin-top: 10px;
  }
  
  .turiiti {
    margin-top: 5px;
    font-size: 50px;
    text-shadow: 2px 1px 2px #808080; 
  }

  .nanko {
    margin-top: 100px;
  }

  .turi {
    position: relative;
    top: 20px;
    left: 50px;
    margin-bottom: 40px;
  }

  .district {
    list-style: none;
  }
  
  .spot {
    float: left;
  }
  
  #sakana {
    width: 504px;
    height: 618px;
    border:solid 1px #ccc;
    padding:4px;
  }
  
  .oosaka {
    position: relative;
    top: 20px;
    right: 60px;
    width: 600px;
    height: auto;
    border: 3px solid #FFCC33;
  
  }

  .btn {
    position: relative;
    right: 8px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .osaka {
    font-size: 80px;
    text-shadow: 5px 5px 5px #808080; 
  }
  
  .turiba {
    font-size: 80px;
    text-shadow: 5px 5px 5px #808080; 
  }
  
  .right {
    position: relative;
    top: 10px;
    width: 70vw;
    max-height: 100px;
  }

  .itirann {
    position: relative;
    bottom: 50px;
  }
  
  .scroll {
    overflow-y: scroll;
    max-height: 600px;
  }

  .scroll::-webkit-scrollbar {
    width: 10px;
  }
  
  .scroll::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 3px;
  }
  
  .scroll::-webkit-scrollbar-track {
    background: rgba(100,100,100, .5);
    
  }
  
  .nannkou {
    position: relative;
    bottom: 511px;
    left: 343px;
    font-weight: bold; 
    font-size: 35px
  }
  
  .ootu {
    position: relative;
    bottom: 360px;
    left: 250px;
    font-weight: bold; 
    font-size: 35px
  }
  
  .kaiduka {
    position: relative;
    bottom: 270px;
    left: 93px;
    font-weight: bold;
    font-size: 35px
  }
  
  .izumi {
    position: relative;
    bottom: 196px;
    right: 123px;
    font-weight: bold;
    font-size: 35px
  }
  
  .misaki {
    position: relative;
    bottom: 72px;
    right: 213px;
    font-weight: bold;
    font-size: 35px
  }

  #form1 {
    position: relative;
    width: 230px;
  }
  
  #sbtn {
    position: relative;
    padding: 2px;
    bottom: 48.5px;
    left: 240px;
    width: 55px;
    height: 40px;
  }
  
  .cimg {
    margin-top: 20px;
    text-align : center;
  }
  
  img {
    width: 220px;
  }
</style>