<% if logged_in? %>

  <div class="row">
    <div class="mx-auto d-block col-sm-9 col-md-8 col-lg-5">
      <div class="mx-auto d-block" id='map'></div>
    </div>
    
      <div class="turi mx-auto d-block col-sm-10 col-md-9 col-lg-6">
        <%= form_with url: spot_search_path, id: "form1",  method: :get, local: true do |f| %>
          <%= f.text_field :name, class: 'form-control', placeholder: "釣り場を入力しよう!" %>
          <%= f.submit :検索, class: "btn btn-primary", id: "sbtn" %>
        <% end %>
       
        <div class="itirann">
          <h1 class="turiiti ">釣り場一覧</h1>
          <h3><%= link_to '南港', '/districts/1', class: "text-dark" %></h3>
            ・<%= link_to 'かもめ大橋', '/spots/1' %>&emsp;・<%= link_to 'シーサイドコスモ', '/spots/2' %>
          <h3><%= link_to '泉大津', '/districts/5', class: "text-dark" %></h3>
            ・<%= link_to '助松埠頭', '/spots/9' %>&emsp;・<%= link_to '汐見埠頭砂上げ場', '/spots/10' %>
          <h3><%= link_to '貝塚', '/districts/2', class: "text-dark" %></h3>
            ・<%= link_to '貝塚人工島', '/spots/3' %>&emsp;・<%= link_to '貝塚人工島水路', '/spots/4' %>
          <h3><%= link_to '泉佐野', '/districts/4', class: "text-dark" %></h3>
            ・<%= link_to '食品コンビナート', '/spots/7' %>&emsp;・<%= link_to 'りんくう', '/spots/8' %>
          <h3><%= link_to '岬町', '/districts/3', class: "text-dark" %></h3>
            ・<%= link_to 'とっとパーク小島', '/spots/5' %>&emsp;・<%= link_to '深日港', '/spots/6' %>
        </div>
      </div>       
  </div>

  <div class="container">
    <div class = "right mx-auto d-block">
      <h2>釣り場コメント一覧</h2>
        <div class="center jumbotron">
          <% @comments.each do |c| %>
            <div>
              釣り場&nbsp;:&nbsp;<a href="/spots/<%= c.spot.id %>"><%= c.spot.name %></a>
            </div>
            <div>
              ユーザー名&nbsp;:&nbsp;<a href="/users/<%= c.user.id %>"><%= c.user.name %></a>
            </div>
            <%= safe_join("#{c.content}".split("\n"),tag(:br)) %>
            <div class="cimg">
              <%= link_to c.image.url, "data-lightbox" => c.image.url do %>
                <%= image_tag c.image.url if c.image? %>
              <% end %>
            </div> 
            <hr>
          <% end %>
          <%= paginate @comments %>
        </div>
    </div>
  </div>

<% else %>

  <div class="text-center text-primary">
    <div>
      <span class="osaka">
        大阪の
      </span>
    </div>
    <div><img class="mr-2 rounded" src="IMG_1889.JPG" alt="" id="sakana"></div>
    <div>
      <span class="turiba">
        釣り場
      </span>
    </div>
  </div>
  
    <div class="text-center">
      <div class="btn">
        <%= link_to '新規登録', signup_path, class: 'btn btn-lg btn-primary', id: 'botn' %>
      </div>
        <h2>気に入った釣り場をお気に入り登録したり、釣り場に釣果などをコメントしよう！</h2>
    </div>
  </div>
  
  <div class="bubbles">
    <div class="item1"></div>
    <div class="item2"></div>
    <div class="item3"></div>
    <div class="item4"></div>
    <div class="item5"></div>
    <div class="item6"></div>
    <div class="item7"></div>
  </div>
          
<% end %>

<style>
  h3 {
    color: black;
    margin-top: 10px;
  }
  
  #map {
    border: 3px solid #FFCC33;
    margin-bottom: 60px;
    height: 500px;
  }
 
  .turiiti {
    margin-top: 5px;
    font-size: 50px;
    text-shadow: 2px 1px 2px #808080; 
  }

  .nanko {
    margin-top: 100px;
  }

  .turi {
    position: relative;
    top: 20px;
    left: 40px;
    margin-bottom: 40px;
  }

  .district {
    list-style: none;
  }
  
  .spot {
    float: left;
  }
  
  #sakana {
    width: 330px;
    height: auto;
    border-radius: 50%;
  }

  .btn {
    position: relative;
    right: 8px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .osaka {
    position: relative;
    right: 20%;
    font-weight: bold;
    font-size: 80px;
    text-shadow: 5px 5px 5px #808080; 
  }
  
  .turiba {
    position: relative;
    left: 20%;
    font-weight: bold;
    font-size: 80px;
    text-shadow: 5px 5px 5px #808080; 
  }
  
  .right {
    position: relative;
    top: 10px;
    max-width: 700px;
  }

  .itirann {
    position: relative;
    bottom: 50px;
  }
  
  .scroll {
    overflow-y: scroll;
    max-height: 600px;
  }

  .scroll::-webkit-scrollbar {
    width: 10px;
  }
  
  .scroll::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 3px;
  }
  
  .scroll::-webkit-scrollbar-track {
    background: rgba(100,100,100, .5);
    
  }

  #form1 {
    position: relative;
    width: 230px;
  }
  
  #sbtn {
    position: relative;
    padding: 2px;
    bottom: 48.5px;
    left: 240px;
    width: 55px;
    height: 40px;
  }
  
  .cimg {
    margin-top: 20px;
    text-align : center;
  }
  
  img {
    width: 220px;
  }
  
  .bubbles {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 140px;
  }
  
  .item1 {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    position: relative;
    bottom: 20px;
    left: 5%;
  }
  
  .item1:after {
    content: "";
    display: block;
    width: 40%;
    height: 40%;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 15%;
    top: 15%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transform: rotateZ(45deg) scaleY(0.8);
    -webkit-transform: rotateZ(45deg) scaleY(0.8);
  }
  
  .item2 {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    position: relative;
    top: 500px;
    left: 15%;
  }
  
  .item2:after {
    content: "";
    display: block;
    width: 20%;
    height: 20%;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 15%;
    top: 15%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transform: rotateZ(45deg) scaleY(0.8);
    -webkit-transform: rotateZ(45deg) scaleY(0.8);
  }
  
  .item3 {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    position: relative;
    top: 200px;
    left: 30%;
  }
  
  .item3:after {
    content: "";
    display: block;
    width: 20%;
    height: 20%;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 15%;
    top: 15%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transform: rotateZ(45deg) scaleY(0.8);
    -webkit-transform: rotateZ(45deg) scaleY(0.8);
  }
  
  .item4 {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    position: relative;
    top: 600px;
    left: 40%;
  }
  
  .item4:after {
    content: "";
    display: block;
    width: 20%;
    height: 20%;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 15%;
    top: 15%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transform: rotateZ(45deg) scaleY(0.8);
    -webkit-transform: rotateZ(45deg) scaleY(0.8);
  }
  
  .item5 {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    position: relative;
    bottom: 200px;
    left: 60%;
  }
  
  .item5:after {
    content: "";
    display: block;
    width: 20%;
    height: 20%;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 15%;
    top: 15%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transform: rotateZ(45deg) scaleY(0.8);
    -webkit-transform: rotateZ(45deg) scaleY(0.8);
  }
  
  .item6 {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    position: relative;
    top: 100px;
    left: 80%;
  }
  
  .item6:after {
    content: "";
    display: block;
    width: 20%;
    height: 20%;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 15%;
    top: 15%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transform: rotateZ(45deg) scaleY(0.8);
    -webkit-transform: rotateZ(45deg) scaleY(0.8);
  }
  
  .item7 {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    position: relative;
    top: 600px;
    left: 90%;
  }
  
  .item7:after {
    content: "";
    display: block;
    width: 20%;
    height: 20%;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 15%;
    top: 15%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transform: rotateZ(45deg) scaleY(0.8);
    -webkit-transform: rotateZ(45deg) scaleY(0.8);
  }
</style>

<script>
  function initMap() {

      var test ={lat: 34.4952, lng: 135.3050};
    
      var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: test
      });
      var transitLayer = new google.maps.TransitLayer();
      transitLayer.setMap(map);

      <% @districts.each do |d| %>
(function(){
        var contentString = '<%= link_to d.name, district_path(d) %>'; 
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position:{lat: <%= d.latitude %>, lng: <%= d.longitude %>},
            map: map,
            title: contentString,
        });
      marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
})();
      <% end %>
  }
</script>

<script async defer
              src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>