<div class="top">
  <div class="text-center">
    <div>
      <p class="osaka">
        大阪の
      </p>
    </div>

    <div>
      <p class="turiba">
        釣り場
      </p>
    </div>
  </div>

  <div class="text-center fade">
    <h2 class="text-white">気に入った釣り場をお気に入り登録したり、釣りを予定、記録しよう！</h2>
  </div>
</div>

<div class="container top-body">
  <div class="row">
    <div class="mx-auto d-block col-md-12 col-lg-6">
       <!--googlemap-->
      <div id='top_map'></div>
    </div>

    <div class="mx-auto d-block area col-md-8 col-lg-5">
      <div class="list">
        <h1 class="spot_title">釣り場一覧</h1>
        <% @districts.each do |d| %>
          <p class="district_name"><a class="text-dark" href="/districts/<%= d.id %>"><%= d.name %></a></p>
          <% d.spots.each do |s| %>
            <span>・<a href="/spots/<%= s.id %>"><%= s.name %></a></span> &nbsp;
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class = "under">

    <div class="top_comment">
      <h2 class="comment_title">釣り場コメント一覧</h2>

      <div class="center jumbotron">
        <% @comments.each do |c| %>

          <div>
            釣り場&nbsp;:&nbsp;<a href="/spots/<%= c.spot.id %>"><%= c.spot.name %></a>
          </div>

          <div>
            <%= l c.created_at, format: :short %>
          </div>

          <div>
            <%= image_tag c.user.image.url, class:"c_user_icon", alt: "" %><a class="c_user" href="/users/<%= c.user.id %>"><%= c.user.name %></a>
            <span class="c_user_time"></span>
          </div>

          <!--改行-->
          <div class="content">
            <%= safe_join("#{c.content}".split("\n"),tag(:br)) %>
          </div>

          <!--画像-->
          <div class="img_position">
            <%= link_to c.image.url, "data-lightbox" => c.image.url do %>
              <%= image_tag c.image.url, alt: "", class: "comment_img" if c.image? %>
            <% end %>
          </div>
          <hr>
        <% end %>
        <%= paginate @comments %>
      </div>
    </div>

    <!--天気予報-->
    <aside class="entire_weather">
      <div id="city-name"></div>
      <div id="weather"></div>
    </aside>
  </div>
</div>

<%= javascript_include_tag 'toppage.js' %>

<script>
// googlemap
function initMap() {

  var position ={lat: 34.5352, lng: 135.3050};

  var map = new google.maps.Map(document.getElementById('top_map'), {
      zoom: 10.1,
      center: position
  });
  var transitLayer = new google.maps.TransitLayer();
  transitLayer.setMap(map);

  <% @districts.each do |d| %>
    (function(){
      var contentString = '<%= link_to d.name, district_path(d) %>';
      var infowindow = new google.maps.InfoWindow({
          content: contentString
      });

      var marker = new google.maps.Marker({
          position:{lat: <%= d.latitude %>, lng: <%= d.longitude %>},
          map: map,
          title: contentString,
      });
      marker.addListener('click', function() {
            infowindow.open(map, marker);
      });
    })();
  <% end %>
}
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap"></script>