<div class="row">
    <div class="mx-auto d-block col-md-10 col-lg-5">
      <h1><%= @district.name %></h1>
      <div id='map'></div>
      <div class="name">
        <h2><%= @district.name %>の釣り場一覧</h2>
        <ul>
          <% @spots.each do |spot| %>
            <li><%= link_to spot.name, spot %></li>
          <% end %>
        </ul>
      </div>
    </div>
    
    <div class="mx-auto d-block col-md-8 col-lg-6">
      <h2><%= @district.name %>の釣り場コメント一覧</h2>
      <div class="scroll">
        <div class="center jumbotron">
          <% @spots.each do |s| %>
            <% s.comments.each do |c| %>
              <div>
                釣り場&nbsp;:&nbsp;<a href="/spots/<%= c.spot.id %>"><%= c.spot.name %></a>
              </div>
              <div>
                ユーザー名&nbsp;:&nbsp;<a href="/users/<%= c.user.id %>"><%= c.user.name %></a>
              </div>
              <%= safe_join("#{c.content}".split("\n"),tag(:br)) %>
              <div class="cimg">
                <%= link_to c.image.url, "data-lightbox" => c.image.url do %>
                  <%= image_tag c.image.url, alt: "" if c.image? %>
                <% end %>
              </div> 
              <hr>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
</div>



<style>
  body {
   background: linear-gradient(to right, rgba(156, 250, 197, 0.4), rgba(0, 255, 192, 0.4));
  }

  h1 {
    position: relative;
  }
  
  h2 {
    position: relative;
  }

  #map {
    border: 3px solid #FFCC33;
    margin-bottom: 60px;
    height: 500px;
  }
 
  .name {
    position: relative;
    left: 50px;
    margin-bottom: 85px;
  }
  
  .cimg {
    margin-top: 20px;
    text-align : center;
  }
  
  img {
    width: 220px;
    margin-bottom: 10px;
    border: 1px solid blue;
  }

  .scroll {
    position: relative;
    overflow-y: scroll;
    max-height: 750px;
    margin-bottom: 40px;
  }
  
  .scroll::-webkit-scrollbar {
    width: 7px;
  }
  
  .scroll::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 3px;
  }
  
  .scroll::-webkit-scrollbar-track {
    background: rgba(100,100,100, .5);
  }
</style>

<script>
  function initMap() {

      var test ={lat: <%= @district.latitude %>, lng: <%= @district.longitude %>};
    
      var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: test
      });
      var transitLayer = new google.maps.TransitLayer();
      transitLayer.setMap(map);

      <% @spots.each do |spot| %>
(function(){
        var contentString = '<%= link_to spot.name, spot_path(spot) %>'; 
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position:{lat: <%= spot.latitude %>, lng: <%= spot.longitude %>},
            map: map,
            title: contentString,
        });
      marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
})();
      <% end %>
  }
</script>

<script async defer
              src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>