<div class="container">
  <div class="fishingtype_form">
    <%= form_with(model: [@fishing_type], url: fishing_types_path, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>

      <div class="form-field">
        <strong><%= f.label :名前 %> </strong>
        <%= f.text_field :name, class: "input-text js-input", placeholder: "例：かもめ大橋" %>
      </div>

      <div class="form-field">
        <strong><%= f.label :内容 %> </strong>
        <%= f.text_area :content, class: "input-text_area js-input js-text", placeholder: "例：サビキ釣り" %>
        <p class="js-text-count-300 pull-right"></p>
      </div>

      <div>
        <%= button_tag :type => "submit", :class =>"submit-btn" do %>
          投稿する&nbsp;<i class="fas fa-angle-right"></i>
        <% end %>
      </div>

    <% end %>
  </div>
</div>

<%= javascript_include_tag 'spot.js' %>