<header class="mb-4 header">
    <% if user_signed_in? %>
      <nav class="navbar navbar-expand-xl navbar-dark bg-primary">
    <% else %>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <% end %>

    <p><i class="fish1 fas fa-fish fa-2x"></i><a class="title navbar-brand" href="/">大阪釣りスポット</a><i class="fish2 fas fa-fish fa-2x fa-rotate-180"></i></p>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        
        <!--釣り場検索機能-->
        <li class="nav-item dropdown">
          <%= form_with url: spot_search_path, id: "search",  method: :get, local: true do |f| %>
            <%= f.text_field :name, class: 'form-control search_form', placeholder: "釣り場や地域を入力しよう!" %>
            <%= f.submit :検索, class: "btn btn-success", id: "sbtn" %>
          <% end %>
        </li>
        
        <li class="nav-item dropdown"><%= link_to '釣り方', fishing_types_path, class: 'nav-link' %></li>

        <% if user_signed_in? %>
        
          <li class="nav-item dropdown"><a href="/users/<%= current_user.id %>/records" class="nav-link">釣りの記録<i class="fas fa-pen"></i></a></li>

          <!--釣り場のお気に入りランキング機能-->
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">お気に入りランキング<i class="fas fa-crown"></i></a>
            <ul class="ranking dropdown-menu dropdown-menu-right">
              <!--前のいいね数を一時的に保存できる変数lastFavoriteを作成-->
              <% lastFavorite = 0 %>
              <% j = 1 %>
              <% @all_ranks.each.with_index(1) do |spot, i| %>
                <% if i == 1 %>
                  <% lastFavorite = spot.favorites.count %>
                <% end %>
                <!--前のお気に入り数と今のお気に入り数が違うなら変数jにiの値を代入-->
                <% if spot.favorites.count != lastFavorite %>
                  <% j = i %>
                  第<strong><%= j %></strong>位
                  <%= link_to spot.name, spot_path(spot) %>
                  <br>
                  お気に入り数：<span class="badge badge-secondary"><%=spot.favorites.count %></span>
                  <% lastFavorite = spot.favorites.count %>
                <% else %>
                  <!--次のお気に入り数と比べるため前のお気に入り数に今のいいね数を代入-->
                  <% lastFavorite = spot.favorites.count %>
                  第<strong><%= j %></strong>位
                  <%= link_to spot.name, spot_path(spot) %>
                  <br>
                  お気に入り数：<span class="badge badge-secondary"><%=spot.favorites.count %></span>
                <% end %>
              <br>
             <% end %>
            </ul>
          </li> 
  
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><%= current_user.name %></a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item"><%= link_to 'マイプロフィール', user_path(current_user) %></li>
              <li class="dropdown-item"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
          
        <% else %>
          
          <li class="nav-item"><%= link_to '新規登録', new_user_registration_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'ログイン', user_session_path, class: 'nav-link' %></li>
          
        <% end %>
      </ul>
    </div>
  </nav>
</header>